<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Devmarteve-list</title>
</head>
<body>
  <div class="header">
    <div class="logo"><h1>Devmarteve-list</h1></div>
    <div class="new"><a href="/article/new">Create article</a></div>
  </div>
  <div class="sidebar">
    <ul>
      <% @categories.each do |category| %>
        <li><a href='/category/<%= category.id %>'><%= category.name %></a></li>
      <% end %>
    </ul>
  </div>
  <%= yield %>
</body>
</html>
